.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 1000px 200px;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px;
  grid-template-areas: 
  
  'h h h h n n n n n n n n'
  'm m m m m m m m m m m m'
  'f f f f f f f f f f f f' ;

}

header {
  grid-area: h;
  text-align: center;
  border: 4px solid red;
  display: flex;
  justify-content: right;
}

header > img {
  width: 50%
}

nav {
grid-area: n;
border: 4px solid red;
display: flex;
align-items: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
  padding: 10px;
  font-weight: 750;
}

nav a {
  text-decoration: none;
  color: black;
}

main {
grid-area: m;
border: 4px solid red;
}

.heroSection {
  background-color: #495E57;
  border: 5px dashed black;
  height: 375px;
}

.heroText {
  border: 1px solid red;
}

.heroImage {
  border: 1px solid red;
  margin-top: 30px;
}

.heroImage img {
  border-radius: 25px;
}

.heroSection h1 {
  font-family: 'Times New Roman', Times, serif;
  color:#f4ce14;
}

.heroSection h2 {
  font-weight: 400;
  color: #EDEFEE;
  margin-top: -20px
}

.heroSection p {
  font-weight: 400;
  color: #EDEFEE;
}

button {
  background-color: #f4ce14;
  border-radius: 15px;
  padding: 15px;
  font-size: 1rem
}


footer {
  grid-area: f;
  background-color: orange;
  border: 4px solid red;
}

@media only screen and (max-width: 950px) {

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 100px 800px 200px;
    grid-template-areas: 
    
    'h h h h h h'
    'n n n n n n'
    'm m m m m m'
    'f f f f f f' ;
  
  }

  header {
    justify-content: center;
  }

  .heroSection {
    height: 450px;
  }

  nav {
    justify-content: center;
  }

  .heroText {
    width: 100%;
    text-align: center;
  }

  .heroImage {
    display: flex;
    justify-content:center;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .heroImage img {
    width: 310px;
    height: 380px
  }

}

@media only screen and (min-width: 951px) {
  .heroText {
    width: 22%;
    position: absolute;
    left: 17%;
    margin-top: 75px;
  }

  .heroImage {
    position: absolute;
    left: 55%;
    width: 350px;
    margin-top: 30px;
  }
  
  .heroImage img {
    width: 100%;
    height: 400px;
    border-radius: 25px;
  } 
}

@media only screen and (min-width: 1600px) {

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 100px 800px 200px;
    grid-template-areas: 
    
    'h h h h n n n n n n n n'
    'm m m m m m m m m m m m'
    'm m m m m m m m m m m m'
    'f f f f f f f f f f f f' ;
  
  }

  header {
    font-size: 200%;
  }
  main {
    background-color: black;
  }

  .heroSection {
    height: 600px;
    font-size: 200%;
  }

  .heroImage {
    width: 550px;
  }

  .heroImage img {
    height: 675px;
  }

}



